################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/my_projects/string/.vs/string/v17/Browse.VC.opendb
